.form-control, .form-select, .input-group-text {
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid #d3d2d2;
    box-shadow: 0 1px 2px -2px rgba(0, 0, 0, .2);
}

.form-control:focus,
.form-select:focus {
    box-shadow: 0 1px 5px -2px #d2d3d4;
    border-bottom: 1px solid #2196F3;
}